.vs/OmakaseCategoryFeeder/v14/.suo
OmakaseCategoryFeeder/App.config
.vs/
OmakaseCategoryFeeder/bin/
OmakaseCategoryFeeder/obj/
OmakaseCategoryFeeder.sln.DotSettings.user
OmakaseCategoryFeeder/OmakaseCategoryFeeder.csproj.user
packages/
OmakaseCategoryFeeder/OmakaseCategoryFeeder.csproj.DotSettings.user
